<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <div>
            <f:form.textarea
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute} message-box"
                rows="{element.properties.rows}"
                cols="{element.properties.cols}"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                style="width: 100%; height: 120px;"
            />
        </div>
    </f:render>
</formvh:renderRenderable>
</html>
