textarea{
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}
.form-group{
	margin-bottom: 0 !important;
}
.slider_section .img-box img, .about_section .img-box img, .client_section .img-box img{
    width: 100% !important;
    height: 100% !important;
}

.chocolate_section .box .img-box img{
  height: auto !important;
}

/* Carousel Arrows */
.carousel_btn-box a{
  display: flex !important;
}
.carousel_slide a{
  display: inline !important;
}
.about_section p a, .chocolate_section .heading_container p a{
  display: inline !important;
  font-family: "SnellBT Regular", sans-serif !important;
  color: #46200b !important;
  font-weight: bold !important;
  margin-top: 0px !important;
  font-size: 20px !important;
  padding-left: 5px !important;
}
.client_section .detail-box p a, .info_detail p a{
  display: inline !important;
  font-family: "SnellBT Regular", sans-serif !important;
  color: white !important;
  margin-top: 0px !important;
  font-size: 20px !important;
  padding-left: 10px !important;
}
.chocolate_section .heading_container a{
  display: inline !important;
  font-family: "SnellBT Regular", sans-serif !important;
  color: #46200b !important;
  font-weight: bold !important;
  margin-top: 0px !important;
  font-size: 20px !important;
}
.detail_box span{
  font-family: "SnellBT Regular", sans-serif !important;
  font-weight: bold !important;
}
.footer_section p a{
  display: inline !important;
  color: #46200b !important;
  margin-top: 0px !important;
  font-size: 16px !important;
}
.footer_section p{
  padding: 0;
  margin: 0;
}
.info_contact a{
  display: flex !important;
}
p a:hover, .tx-at-instagram a:hover{
  text-decoration: underline;
}

.tx-at-instagram {
  margin: 0 !important;
  max-height: 270px;
  overflow: scroll;
}
.img-box{
  padding-right: 10px !important;
}
.gallery-image {
  width: 66px !important;
}
.info_section .info_insta .insta_box .img-box {
  background-color: transparent;
}
.tx-at-instagram .slider-image, .tx-at-instagram .gallery-image {
  border-radius: 5%;
}
