<f:asset.css identifier="offer_section">
    .offer_section a { pointer-events: none; }
    .offer_section.layout_padding {padding: 45px 0;}
    .offer_section .box {display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: column;align-items: center;text-align: center;}
    .offer_section .box .detail-box {border: 1px solid #6c6c6c;width: 100%;padding: 45px 15px 225px 15px;}
    .offer_section .box .detail-box h2 {font-size: 2.5rem;font-weight: bold;color: #46200b;}
    .offer_section .text-center {text-align: center !important;}
    .offer_section .box .detail-box h3 {font-weight: bold;}
    .offer_section .box .img-box {margin-top: -190px;}
    .offer_section .img-box {padding-right: 10px !important;}
    .offer_section .btn-box {display: -webkit-box;display: -ms-flexbox;display: flex;justify-content: center;margin-top: 15px;}
    .offer_section .btn-box a {display: -webkit-box;display: -ms-flexbox;display: flex;align-items: center;font-family: "SnellBT Regular", sans-serif;color: #46200b;font-weight: bold;margin-top: 25px;font-size: 20px;}
    .offer_section .box .detail-box a {font-family: "Poppins", sans-serif;display: inline-block;padding: 8px 30px;background-color: #46200b;color: #ffffff;border-radius: 0;border: 1px solid #46200b;transition: all 0.3s;text-transform: uppercase;margin-top: 15px;}
    .offer_section .btn-box span { color: #46200b;font-weight: bold; }
    .offer_section .btn-box img { height: 12px;margin-top: 12px; }
</f:asset.css>

<section class="offer_section layout_padding">
    <div class="container">
        <div class="box">
            <div class="detail-box">   
                <f:if condition="{data.tx_mask_desc}">
                    <f:format.raw>{data.tx_mask_desc}</f:format.raw>
                </f:if>
            </div>
            <f:for each="{data.tx_mask_offer_img}" as="file">
                <div class="img-box">
                    <f:image image="{file}"/>
                </div>
            </f:for>
        </div>
        <f:if condition="{data.tx_mask_offer_link2_label}">
            <div class="btn-box" >
                <span class="p-2">{data.tx_mask_offer_link2_label}</span>
                <f:for each="{data.tx_mask_offer_img2}" as="file">
                    <img src="{f:uri.image(image: file)}" width="65px" height="12px" />
                </f:for>
            </div>
        </f:if>
    </div>
</section>